.padding {
  padding-left: 6em;
  padding-right: 6em;
}

.u-text-lead {
  font-size: 1.2em;
}

.u-float-left {
  float:left;
}

.u-float-right {
  float: right;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-big-title {
  font-size: 3em;
  margin-bottom: 0;
}
